<h1 class="center">Liste des pokémons</h1>

<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemons"   class="card" appBorderCard>
            <div class="card-image">
                <img [src]="pokemon.picture" alt="">
            </div>
            <div class="card-content">
                <h3>{{pokemon.name}}</h3>
                <p>{{pokemon.created | date:"dd/MM/yyyy"}}</p>
                <span *ngFor="let type of pokemon.types" class="{{type | pokemonTypeColor}}">{{type}}</span>
            </div>
        </div>
    </div>
</div>


<input 
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number" 
/>
<p *ngIf="!pokemonSelected">
   Auncun pokémon n'à été trouvé.
</p>
<p *ngIf="pokemonSelected">
    Vous avez sélectionné le pokemon: {{ pokemonSelected?.name }}
 </p>

